# Libraries

In [33]:
from sklearn.datasets import make_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.cluster import KMeans
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
# ANOVA feature selection for numeric input and categorical output
from sklearn.datasets import make_classification
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

import xgboost as xgb

In [75]:
key = 50

# Alopecia areata

In [332]:
df = pd.read_csv('Alopecia areata/Transform_Data.csv')

In [333]:
df.shape

(129, 30148)

In [109]:
df.isna().sum().sum()

22

In [110]:
df.dropna(inplace =True)

In [111]:
df.isna().sum().sum()

0

In [15]:
df.duplicated().sum()

0

In [338]:
df['Diagnosis'] = 0

In [113]:
df.info

<bound method DataFrame.info of      1007_s_at   1053_at    117_at    121_at   1294_at   1316_at   1320_at  \
0     3.415008  3.019226  2.571248  1.476333  2.985626  2.660889  1.981937
1     3.470063  3.000241  2.214963  1.435923  2.699710  2.671289  1.946117
2     3.468073  3.019885  2.142353  1.423358  2.748724  2.726195  2.009763
3     3.500024  3.059693  2.463672  1.340710  2.634279  2.505245  1.776441
5     3.501173  2.999537  2.764004  1.732539  2.878685  2.601433  1.825223
..         ...       ...       ...       ...       ...       ...       ...
124   3.480582  2.993795  2.291321  1.407116  2.828413  2.529908  1.835861
125   3.522482  3.099158  2.205759  1.415535  2.859465  2.480688  1.823639
126   3.464283  2.940836  2.388503  1.535569  3.094470  2.730789  2.001295
127   3.524695  3.033337  2.446718  1.538893  2.736635  2.577597  1.914909
128   3.489267  3.046574  2.626881  1.411260  2.893194  2.850015  2.123745

     1405_i_at   1431_at   1487_at  ...  AFFX-r2-Ec-bioB-3_at  \
0     1.884158  2.479875  3.186429  ...              3.346070
1     1.470748  2.351162  3.269197  ...              3.322157
2     1.746445  2.563623  3.272761  ...              3.328755
3     1.715047  2.007922  3.311040  ...              3.322423
5     2.166757  2.531116  3.250867  ...              3.267648
..         ...       ...       ...  ...                   ...
124   2.324437  2.731904  3.279347  ...              3.322734
125   1.846816  2.728971  3.315383  ...              3.319122
126   2.168444  2.694818  3.295423  ...              3.385457
127   1.487896  2.662947  3.231800  ...              3.325179
128   2.290027  2.569654  3.240985  ...              3.334023

     AFFX-r2-Ec-bioB-5_at  AFFX-r2-Ec-bioB-M_at  AFFX-r2-Ec-bioC-3_at  \
0                3.366568              3.359611              3.567706
1                3.339700              3.331661              3.553438
2                3.349446              3.335666              3.560275
3                3.336001              3.347066              3.564931
5                3.256089              3.262738              3.511002
..                    ...                   ...                   ...
124              3.327548              3.329926              3.558674
125              3.314183              3.326214              3.552512
126              3.424397              3.413345              3.619050
127              3.331744              3.340537              3.561480
128              3.344064              3.341169              3.550563

     AFFX-r2-Ec-bioC-5_at  AFFX-r2-Ec-bioD-3_at  AFFX-r2-Ec-bioD-5_at  \
0                3.540232              3.778310              3.762638
1                3.531087              3.773795              3.759511
2                3.531905              3.772505              3.761095
3                3.537039              3.767098              3.756468
5                3.475899              3.765834              3.757421
..                    ...                   ...                   ...
124              3.518161              3.774938              3.766462
125              3.521024              3.772095              3.756422
126              3.589285              3.767527              3.768113
127              3.524412              3.773388              3.752876
128              3.529078              3.758501              3.744500

     AFFX-r2-P1-cre-3_at  AFFX-r2-P1-cre-5_at  Diagnosis
0               3.859731             3.854942          0
1               3.858109             3.853370          0
2               3.861526             3.853403          0
3               3.864767             3.853483          0
5               3.852756             3.848081          0
..                   ...                  ...        ...
124             3.853918             3.844701          0
125             3.857916             3.849073          0
126             3.852770             3.850543          0
127             3.857738             3.854951          0
128             3.853096             3.845731          0

[120 rows x 30148 columns]>

In [114]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [115]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

(120, 50)

In [116]:
Alopecia= pd.DataFrame(X_selected)

In [119]:
Alopecia['Dignosis'] = 0

In [120]:
Alopecia.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,2.432845,2.565060,2.886369,3.244528,2.467016,1.582711,2.998176,2.929280,2.131583,1.696642,...,3.346070,3.366568,3.359611,3.567706,3.540232,3.778310,3.762638,3.859731,3.854942,0
1,2.004851,2.648215,2.661599,3.188180,2.633036,1.917537,2.993436,2.789070,2.077612,1.699107,...,3.322157,3.339700,3.331661,3.553438,3.531087,3.773795,3.759511,3.858109,3.853370,0
2,1.879252,2.593174,2.675330,3.212804,2.628689,2.308124,3.015798,2.783443,2.073225,1.819131,...,3.328755,3.349446,3.335666,3.560275,3.531905,3.772505,3.761095,3.861526,3.853403,0
3,2.129046,2.781379,2.550756,3.215073,2.643258,2.231118,3.028180,2.925232,2.060499,1.920601,...,3.322423,3.336001,3.347066,3.564931,3.537039,3.767098,3.756468,3.864767,3.853483,0
4,2.021205,2.557857,2.650562,3.278612,2.550271,1.884823,2.960851,2.889133,2.092515,1.980153,...,3.267648,3.256089,3.262738,3.511002,3.475899,3.765834,3.757421,3.852756,3.848081,0

In [62]:
Alopecia.to_csv('Alopecia areata/Feature.csv', index=False)

# Atopic Dermatitis

In [336]:
df1 = pd.read_csv('Atopic Dermatitis/Transform_Data.csv')

In [324]:
df.shape

(48, 47324)

In [125]:
df.isna().sum().sum()

0

In [126]:
df.duplicated().sum()

0

In [337]:
df1['Dignosis'] = 1
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [128]:
df.info

<bound method DataFrame.info of     ILMN_1343291  ILMN_1343295  ILMN_1651199  ILMN_1651209  ILMN_1651210  \
0      15.004413     13.433784      7.073491      7.150547      7.340642
1      14.842385     13.252002      6.811195      7.007074      6.943038
2      14.965791     13.457416      7.228625      7.174617      7.269446
3      14.879489     13.800142      7.407714      7.191310      7.149184
4      14.691028     13.641732      6.950535      6.941273      7.085326
5      14.729835     13.792669      6.903423      7.298597      7.010348
6      14.706143     13.463724      7.082309      7.197908      6.948207
7      14.753218     13.488741      7.040206      7.015631      7.231286
8      14.614950     13.540628      7.039829      7.082852      6.980899
9      14.863081     13.640497      6.835006      7.030768      6.957446
10     14.758047     13.412297      6.988327      6.802798      6.906784
11     14.753513     13.633948      6.832071      7.403380      7.040250
12     14.569516     13.238633      6.828178      7.537516      6.974315
13     14.840766     13.318020      7.081633      7.013928      6.986739
14     14.682477     13.106238      6.861163      6.794343      7.045465
15     14.670929     13.683193      7.138708      7.073654      7.045863
16     14.834090     13.417286      6.683121      6.817878      6.636452
17     14.844969     13.162280      7.039985      7.172469      7.039569
18     14.895224     13.426280      7.008200      6.872863      7.036730
19     14.943266     13.539513      7.009225      6.923799      7.064050
20     15.010881     13.321984      6.900406      6.946255      6.813676
21     15.133056     13.535070      6.858879      6.957757      7.076087
22     15.103504     13.555753      6.871448      6.945196      7.153435
23     15.003348     13.378839      6.927854      6.960814      7.060006
24     14.973335     13.327693      6.899893      6.996810      7.253790
25     14.599012     13.049888      6.689330      6.731935      6.851144
26     14.671642     13.221358      6.680966      6.842760      7.005774
27     14.663379     13.371338      6.891425      6.803968      6.932929
28     14.927274     13.751752      7.162976      7.183863      7.068492
29     14.955704     13.430148      6.878059      6.950299      7.201463
30     14.780046     12.975705      6.512815      6.837441      6.863429
31     15.035471     13.496825      7.436210      7.230965      6.987910
32     14.908886     13.162667      7.276852      6.912529      7.014512
33     14.930036     13.608629      7.023070      7.108790      6.928155
34     14.816852     13.472945      7.097406      7.228677      7.105570
35     14.843699     13.092020      7.183496      7.268557      6.810032
36     14.936913     13.036063      6.724800      7.026894      7.300995
37     14.888061     14.350506      6.985777      7.078977      7.093945
38     14.706867     13.252912      6.850892      6.998673      6.990978
39     14.427190     13.408519      6.879140      6.773552      6.861950
40     14.625360     13.477677      6.877828      6.931045      7.026408
41     15.002537     13.089306      6.997143      6.909417      6.932550
42     14.993006     13.447407      7.283082      6.981902      7.085854
43     14.826752     13.355628      6.843121      6.897230      7.115882
44     14.890383     13.011094      6.842619      6.999733      6.964617
45     15.033847     12.968826      6.875171      6.859439      7.032441
46     14.861939     13.239005      6.746439      6.899924      7.191950
47     14.638807     13.565306      6.913616      7.004042      6.894323

    ILMN_1651221  ILMN_1651228  ILMN_1651229  ILMN_1651230  ILMN_1651232  ...  \
0       7.491261     13.431535      8.126599      7.197646      7.322356  ...
1       7.246542     13.279428      8.020291      6.998930      7.294376  ...
2       7.340860     13.536637      8.282137      7.098401      7.381079  ...
3       7.151132     13.673570      8.206875      7.021335      7.399485  ...
4       7.255871     13.468676      8.226644      7.176982      7.352412  ...
5       7.220284     13.437138      8.190046      7.094916      7.216201  ...
6       7.274984     13.564035      8.038376      7.005248      7.201516  ...
7       7.131509     13.491195      8.196874      7.040328      7.231239  ...
8       7.102242     13.247658      8.007924      7.038551      7.454360  ...
9       7.392803     13.334431      8.102663      7.093904      7.483804  ...
10      6.952084     13.079158      7.958755      6.807929      7.121884  ...
11      7.169733     13.344770      8.325261      6.820337      7.503848  ...
12      6.909580     13.573177      7.967322      6.890636      7.115578  ...
13      6.908525     13.564865      7.966850      7.149232      7.131850  ...
14      6.939488     13.410912      8.000489      6.888877      7.350062  ...
15      7.197196     13.449790      8.297065      7.014217      7.236559  ...
16      6.928014     13.448238      7.870142      7.027799      6.991869  ...
17      7.143211     13.664977      7.984815      6.756185      7.339055  ...
18      7.415561     13.940091      8.344147      6.926417      7.085609  ...
19      7.316526     13.562459      7.893243      6.890449      7.338861  ...
20      6.991914     13.793353      8.131197      7.106187      7.241699  ...
21      7.453378     13.569915      7.934935      6.946277      7.260722  ...
22      7.217754     13.621901      8.083473      6.786477      7.447736  ...
23      7.029408     13.658715      8.064590      6.914395      7.212435  ...
24      7.040013     13.692753      8.171228      7.112458      7.333091  ...
25      6.740276     13.458947      7.552759      6.737399      6.934696  ...
26      6.954470     13.858571      8.241239      6.948938      7.236283  ...
27      6.964061     13.520191      7.874027      6.736710      7.046594  ...
28      7.280723     13.915143      8.329649      6.942163      7.215349  ...
29      7.060015     13.783215      8.063470      7.236804      7.302083  ...
30      7.021811     13.641094      7.687296      6.621314      7.125036  ...
31      7.166881     13.760958      8.177239      7.247879      7.519215  ...
32      7.157854     13.938318      8.155778      7.020800      7.093710  ...
33      7.261921     13.875674      8.083080      6.911000      7.316352  ...
34      7.137965     13.627943      7.912719      6.873002      7.380556  ...
35      7.171948     13.647150      7.814906      6.895334      7.327929  ...
36      7.007929     13.818616      7.969518      6.946888      7.096462  ...
37      7.179220     12.504610      8.318855      6.891183      7.613756  ...
38      6.940485     13.610787      7.847565      6.832842      7.211503  ...
39      6.727155     13.862266      8.170228      6.593510      7.160405  ...
40      7.108132     13.958487      8.123397      6.882879      7.352485  ...
41      6.971862     14.033647      8.299328      6.840622      7.084210  ...
42      7.165115     13.903099      7.992432      6.748249      7.279894  ...
43      7.256078     13.987298      7.982730      6.895012      7.157107  ...
44      7.042978     14.067069      8.005664      6.913128      7.055878  ...
45      7.117218     13.869970      7.971752      7.005019      7.111978  ...
46      6.995213     13.583091      7.994152      6.959745      7.236583  ...
47      7.083173     13.929554      8.569559      7.058158      7.120978  ...

    ILMN_3311150  ILMN_3311155  ILMN_3311160  ILMN_3311165  ILMN_3311170  \
0       7.171770      7.430517      7.024274      7.363935      7.043514
1       6.802803      6.993293      7.089575      7.235652      7.037640
2       6.934968      7.211901      7.106376      7.616163      7.062047
3       7.055701      7.052500      7.052752      7.394160      7.039282
4       7.133091      7.239477      7.048088      7.208683      7.116440
5       7.067592      7.232828      6.837908      7.294704      7.081281
6       7.275008      7.230376      6.986820      7.178473      7.085333
7       7.084129      7.066439      6.898970      7.378728      7.009939
8       7.217194      7.155047      6.814261      7.293978      7.065602
9       7.222910      7.237677      6.987582      7.181965      6.913677
10      6.986049      6.965467      6.821454      7.101840      6.769445
11      6.929152      7.224013      6.876873      7.337605      6.934332
12      6.770484      7.209568      6.932694      7.018082      6.659611
13      7.267848      7.188875      6.786939      7.485755      6.990848
14      7.057454      6.922636      6.947948      7.150995      6.751533
15      7.005024      7.360795      7.105452      7.483804      6.989993
16      6.891062      6.848414      6.844884      7.013143      6.728969
17      7.192299      6.908149      7.027142      7.172973      7.060313
18      7.057351      7.142525      6.986340      7.119942      7.051368
19      7.071558      7.018620      6.917648      7.225376      6.901388
20      7.100374      6.923900      6.873696      7.371572      6.754898
21      7.038566      7.084869      6.967405      7.128410      6.801769
22      6.968435      6.999478      6.850891      7.074011      6.840935
23      7.151885      7.100941      7.058137      7.188165      6.816793
24      7.182677      6.994082      6.777758      7.300668      6.863325
25      7.067106      6.785841      6.444812      7.125129      6.586912
26      7.097628      6.907965      6.987759      7.068431      6.895086
27      6.824172      6.822542      6.702138      7.427584      6.716364
28      7.073636      7.154499      7.014917      7.558053      6.903549
29      7.510206      7.222498      7.042339      7.433913      6.942756
30      6.719060      7.107193      6.675905      7.051985      6.695439
31      7.361820      7.147685      6.846755      7.212741      6.900913
32      7.237373      6.991201      6.929886      7.309653      6.771509
33      7.117018      7.224935      7.024179      7.152062      6.870076
34      7.045493      7.077422      6.922929      7.411104      7.121277
35      7.025869      6.893232      6.853493      7.030248      6.836403
36      7.117097      6.919477      6.694791      7.115024      6.734459
37      7.141905      7.290611      6.925684      7.519806      7.036429
38      6.999236      6.707171      6.828368      7.271315      6.628664
39      6.891234      6.981240      6.556274      6.868500      6.730693
40      6.863001      7.196360      6.949223      7.023749      6.915011
41      6.985554      7.152225      6.769118      7.170233      6.866653
42      6.951247      7.115045      6.904893      7.251265      6.953902
43      7.090200      6.820411      7.016285      7.477082      6.986636
44      7.081225      7.016971      6.896938      7.225240      6.904407
45      6.715336      6.973530      6.897208      6.892073      6.828152
46      7.160571      7.167566      6.975167      7.074627      6.774430
47      7.068651      6.828236      6.946265      7.457498      6.781045

    ILMN_3311175  ILMN_3311180  ILMN_3311185  ILMN_3311190  Dignosis
0       7.207451      7.283084      7.330475      7.382842         1
1       6.952795      7.031037      7.011124      6.970051         1
2       7.252050      7.304260      7.063573      7.120638         1
3       7.179165      7.249978      7.151855      7.015687         1
4       7.118428      7.223647      6.949015      7.126802         1
5       7.093979      7.490570      7.015675      7.156250         1
6       6.977920      7.202524      7.048242      7.234173         1
7       6.931118      7.118511      7.100492      7.088827         1
8       7.130690      6.988437      6.945189      7.130356         1
9       7.060418      6.999432      7.025049      7.238900         1
10      6.873159      7.042477      6.928785      6.995011         1
11      6.983067      7.135236      6.996854      7.292044         1
12      6.908576      7.169825      6.876771      7.158072         1
13      7.113215      7.100844      6.877808      7.098316         1
14      7.097686      7.116127      6.741185      6.950828         1
15      7.015475      7.147375      7.050484      7.233585         1
16      6.878508      6.791341      7.081106      7.019629         1
17      6.986585      6.939698      6.966843      7.027872         1
18      7.054792      7.202279      6.895223      7.117263         1
19      6.614055      7.036088      6.922091      6.983776         1
20      7.048457      7.198323      7.116036      7.188529         1
21      7.091564      7.066133      6.862221      7.032546         1
22      6.988146      7.165679      6.888198      7.100839         1
23      6.947673      6.952010      6.844758      6.935810         1
24      7.019364      6.943622      6.931271      6.890667         1
25      6.790973      6.769108      6.772791      6.734743         1
26      6.868097      6.984284      6.866990      6.819968         1
27      6.690756      6.760232      6.684440      6.710258         1
28      7.039577      7.318496      7.026173      7.151563         1
29      7.091752      7.048305      7.006506      6.992886         1
30      6.955983      6.827976      6.820681      6.690523         1
31      7.080241      7.151105      6.997735      7.068631         1
32      7.005516      7.123662      7.000785      6.828408         1
33      7.057073      6.960658      7.077692      7.360127         1
34      7.098264      7.065399      7.082293      7.185304         1
35      6.727067      6.948936      6.913288      6.890804         1
36      6.812313      7.038776      6.987432      7.029124         1
37      6.948903      7.198694      7.104311      7.277343         1
38      6.626531      6.944823      6.833642      6.867971         1
39      6.788585      6.835203      6.701463      6.665755         1
40      7.285339      7.030280      6.937454      6.850779         1
41      7.030316      6.931350      6.849136      7.007578         1
42      7.379282      7.105552      7.018029      7.017651         1
43      7.027345      7.131231      6.899334      7.210329         1
44      7.006398      7.176499      6.992566      6.806136         1
45      6.776205      7.419294      6.799620      6.904231         1
46      6.811274      7.041933      6.880225      6.889994         1
47      6.834567      6.932351      6.837963      6.857398         1

[48 rows x 47324 columns]>

In [129]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

(48, 50)

In [130]:
Atopic = pd.DataFrame(X_selected)

In [131]:
Atopic['Dignosis'] = 1

In [132]:
Atopic.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,6.958419,7.617961,7.173314,6.972295,7.226457,7.046727,7.269045,7.214187,7.133260,7.019942,...,7.171770,7.430517,7.024274,7.363935,7.043514,7.207451,7.283084,7.330475,7.382842,1
1,7.069350,7.079882,7.047339,7.042976,6.825027,6.936843,6.894224,7.089007,6.751174,6.850587,...,6.802803,6.993293,7.089575,7.235652,7.037640,6.952795,7.031037,7.011124,6.970051,1
2,6.925996,7.367949,7.214156,7.049357,7.103763,6.954131,6.880449,7.252494,6.977439,7.157371,...,6.934968,7.211901,7.106376,7.616163,7.062047,7.252050,7.304260,7.063573,7.120638,1
3,6.989065,7.160346,7.127582,6.946311,7.206542,6.954643,6.931235,7.410769,7.314880,7.079403,...,7.055701,7.052500,7.052752,7.394160,7.039282,7.179165,7.249978,7.151855,7.015687,1
4,7.022106,7.106887,7.117116,7.005913,6.863444,7.002185,6.879474,7.383976,6.974634,6.769477,...,7.133091,7.239477,7.048088,7.208683,7.116440,7.118428,7.223647,6.949015,7.126802,1

In [133]:
Atopic.to_csv('Atopic Dermatitis/Feature.csv', index=False)

In [134]:
print(Atopic.shape)
print(Alopecia.shape)

(48, 51)
(120, 51)

In [135]:
gene = pd.concat([Alopecia, Atopic])

# Behcet's Disease

In [325]:
df = pd.read_csv("Behcet's Disease/Transform_Data.csv")

In [326]:
df.shape

(34, 557)

In [77]:
df.isna().sum().sum()

0

In [79]:
df.duplicated().sum()

0

In [82]:
df['Dignosis'] = 2
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [83]:
df.info

<bound method DataFrame.info of     DarkCorner   dmr_285     dmr_3    dmr_308   dmr_316   dmr_31a     dmr_6  \
0     8.567302  8.558241  8.634091   8.628852  8.604553  8.553053  8.500289
1     8.883932  8.863587  8.637108   8.684164  8.930876  8.897597  8.553573
2     7.249960  7.025608  6.965609   7.010179  7.038919  7.168691  7.000545
3     7.150685  6.909143  6.904855   6.943073  6.985308  6.957245  6.940810
4     7.901353  7.778128  8.058033   8.106754  7.898413  7.857981  7.788213
5     6.905199  6.800293  6.914433   6.874405  6.837102  6.920566  6.802392
6     7.074712  6.928447  6.969975   6.991092  6.997843  6.995659  7.046005
7     7.007553  6.955564  7.042375   7.077150  7.051590  7.037314  6.843725
8     6.902941  6.820376  6.932919   6.868176  6.884934  6.833305  6.884810
9     7.075829  6.915925  7.031403   7.004465  6.938039  6.989717  6.832112
10    7.110472  6.959378  7.006168   6.994353  7.000174  7.090069  6.915879
11    7.126991  6.970723  7.855939  10.453038  6.987337  6.963509  7.523562
12    7.104979  6.942515  7.996441   7.447471  6.987782  7.059615  7.405141
13    7.942893  7.999910  8.314106   8.311890  7.981061  8.085666  8.089310
14    7.360531  6.978174  6.968242   6.983783  6.996940  7.035658  6.884680
15    8.358431  8.381643  8.280845   8.214172  8.465362  8.391402  8.247408
16    8.747873  8.739809  8.748979   8.764457  8.692878  8.669049  8.589118
17    7.007495  6.944678  6.976046   6.887380  6.943416  6.941804  6.925095
18    7.080428  6.982906  6.961160   6.935165  6.968895  6.984309  6.828393
19    6.997885  6.900579  6.958485   7.016037  6.949463  6.908370  6.938359
20    7.042544  6.898916  6.897845   6.939312  6.916908  6.909847  6.872551
21    6.928829  6.820179  7.452086   7.570201  6.872483  6.811777  6.706996
22    8.391848  8.337622  8.478065   8.385993  8.386957  8.346999  8.265458
23    8.402192  8.393680  8.512360   8.527603  8.456932  8.421263  8.367331
24    8.489138  8.498163  8.415998   8.261010  8.575394  8.525105  8.467606
25    8.489265  8.453999  8.535518   8.477166  8.582649  8.521785  8.453682
26    8.777820  8.702365  8.722541   8.713470  8.729426  8.735609  8.746127
27    8.509903  8.352568  8.304764   8.296127  8.481895  8.425361  8.258566
28    8.701558  8.631746  8.782872   8.801845  8.704796  8.685315  8.643690
29    8.250909  8.226262  8.358049   8.378498  8.307605  8.318215  8.189977
30    8.873733  8.748250  8.717124   8.710096  8.785050  8.753031  8.618444
31    8.823208  8.719741  8.776330   8.746081  8.764556  8.785373  8.651393
32    8.674693  8.600203  8.725650   8.648271  8.632057  8.595418  8.546262
33    8.647402  8.606743  8.766554   8.594806  8.680184  8.673990  8.534404

    ebv-miR-BART1-3p  ebv-miR-BART1-5p  ebv-miR-BART10  ...       mr_1  \
0           8.641679          8.616232        8.595846  ...   8.555484
1           8.877178          8.845000        8.819355  ...   8.742557
2           7.005713          7.059513        7.218231  ...   7.056857
3           7.080151          7.072803        7.045803  ...   6.968754
4           7.863043         13.464616        7.771342  ...  12.370659
5           6.840730          7.030098        6.892578  ...   6.827343
6           6.988868          7.064147        7.053926  ...   6.973459
7           6.950062          7.180842        7.013030  ...   7.040633
8           6.874405          6.883384        6.869416  ...   6.799484
9           7.002990          7.029563        6.995995  ...   6.952406
10          6.999636          7.031558        7.069450  ...   7.569108
11          6.938600          7.079791        6.994615  ...   6.919055
12          7.001387          7.051105        7.033932  ...   7.438600
13          8.061829          8.102038        8.055452  ...   8.086692
14          7.002730          7.207750        7.054215  ...   8.910274
15          8.982248          8.367877        8.419386  ...   8.328607
16          8.684452          8.764228        8.785984  ...   8.679257
17          6.965604          7.026800        7.007672  ...   6.956376
18          6.969387          7.048032        7.012974  ...   6.918502
19          6.864785          6.975870        6.942515  ...   6.920244
20          6.905614          6.937018        7.022368  ...   6.932238
21          7.000179          7.903035        6.957148  ...   7.932929
22          8.381044          8.378512        8.364517  ...   8.346207
23          8.387567          8.376193        8.400079  ...   8.401208
24          8.532356          8.608504        8.537434  ...   8.502437
25          8.452687          8.581999        8.537764  ...   8.504447
26          8.720886          8.745527        8.770270  ...   8.704116
27          8.444074          8.496654        8.433701  ...   7.766310
28          8.674634          8.730300        8.637717  ...   8.608980
29          8.407201          8.338772        8.327483  ...   8.250110
30          8.741204          8.769052        8.776022  ...   8.748853
31          8.806835          8.733951        8.807091  ...   8.713192
32          8.629819          8.676125        8.636452  ...   8.599575
33          8.685055          8.679089        8.681266  ...   8.545885

    NC1_00000197  NC1_00000215  NC2_00079215  NC2_00092197  NC2_00106057  \
0       8.578962      8.518776      8.595229      8.606000      8.708599
1       8.623767      8.724230      8.626318      8.773990      8.685187
2       6.977944      7.067477      6.967532      6.998238      6.976743
3       6.905595      7.010718      6.967558      7.003982      7.014370
4       7.903240     13.006051     15.783148      7.806463     13.036293
5       6.898788      6.826336      6.896406      6.974916      6.845297
6       6.984281      7.051606      7.046156      7.042375      6.894631
7       7.014836      7.040088      6.924719      7.075312      6.965974
8       6.867326      6.882643      6.843150      6.848414      6.869795
9       6.990855      7.091284      6.949960      7.306670      6.993745
10      7.042659      7.067231      6.996650      6.960936      6.974327
11      7.516775      6.973518      7.036043      7.127672      6.943777
12      7.478304      7.038329      7.590354      7.121283      7.517276
13      8.158589      8.029891      8.163231      8.087545      8.144580
14      6.926481      7.438413      7.370044      7.207653      6.978841
15      8.357085      8.353007      8.264369      8.364601      8.339563
16      8.712416      8.659996      8.745901      8.752799      8.682346
17      6.914884      7.163746      6.966866      6.977995      6.996238
18      6.886247      7.021855      6.894818      6.969503      6.964896
19      7.527003      6.950612      6.919422      6.967767      6.860084
20      6.883771      6.982359      6.933826      6.921063      6.791977
21      7.523562      7.342577      8.104353      6.767063      8.284668
22      8.382414      8.283595      8.383632      8.408934      8.345544
23      8.421736      8.399364      8.431236      8.438477      8.411407
24      8.521278      8.443634      8.543656      8.535455      8.598555
25      8.447148      8.466916      8.550451      8.534857      8.566553
26      8.693160      8.673925      8.779001      8.798644      8.716969
27      8.320711      8.336523      8.326289      8.448672      8.406670
28      8.627762      8.622284      8.698787      8.707882      8.667972
29      8.208974      8.283161      8.283018      8.272703      8.271693
30      8.664447      8.701080      8.756556      8.801271      8.660703
31      8.690210      8.687935      8.789240      8.865171      8.722007
32      8.624416      8.573115      8.694703      8.655083      8.597392
33      8.509806      8.567778      8.615684      8.704329      8.600256

    NC2_00122731  NegativeControl   SCorner3  Dignosis
0       8.598165         8.685638   8.602699         2
1       8.765474         8.902422   8.737104         2
2       7.025562         7.013462   6.911906         2
3       6.985584         7.022710   6.992585         2
4       7.807147         7.852133   8.128719         2
5       6.861745         6.876093   6.944932         2
6       7.032024         6.995833   7.054766         2
7       7.463661         6.902878   6.963888         2
8       6.871692         6.902303   6.813255         2
9       6.995060         6.990459   7.056527         2
10      7.084643         7.008779   6.960726         2
11      7.061886         6.991130  10.140924         2
12      7.027571         7.111177   7.497947         2
13      8.097363         8.045674   8.330917         2
14      7.272970         7.051429   7.045826         2
15      8.383633         8.333645   8.307238         2
16      8.734762         8.733128   8.830911         2
17      6.948831         7.036915   6.999145         2
18      6.972162         6.965960   6.866185         2
19      6.944561         6.928586   6.933282         2
20      6.928087         6.971020   6.987461         2
21      7.180362         6.781160   7.067696         2
22      8.393462         8.399117   8.409459         2
23      8.400944         8.442880   8.520073         2
24      8.508178         8.577129   7.250003         2
25      8.505109         8.520385   8.505353         2
26      8.772090         8.785031   8.799307         2
27      8.357203         8.427968   8.324073         2
28      8.644307         8.662764   8.770302         2
29      8.221001         8.285473   8.396538         2
30      8.786832         8.824724   8.771385         2
31      8.760937         8.771139   8.861184         2
32      8.635286         8.664281   8.767369         2
33      8.660101         8.742554   8.717558         2

[34 rows x 557 columns]>

In [84]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(34, 50)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

In [85]:
Behcet = pd.DataFrame(X_selected)
Behcet['Dignosis'] = 2
Behcet.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,8.689773,8.670656,8.620656,8.542283,8.583688,8.558780,8.549464,8.627113,8.689499,8.495855,...,8.555484,8.578962,8.518776,8.595229,8.606000,8.708599,8.598165,8.685638,8.602699,2
1,8.691663,8.823923,8.849601,8.727704,8.854720,8.769476,8.666057,8.727389,8.642489,8.770515,...,8.742557,8.623767,8.724230,8.626318,8.773990,8.685187,8.765474,8.902422,8.737104,2
2,7.018728,7.002599,7.038404,7.013356,7.196085,6.942882,6.958806,6.964501,6.959910,6.977638,...,7.056857,6.977944,7.067477,6.967532,6.998238,6.976743,7.025562,7.013462,6.911906,2
3,7.030323,6.994789,7.078151,7.019975,7.005795,7.031324,6.940529,7.029521,6.948097,7.084808,...,6.968754,6.905595,7.010718,6.967558,7.003982,7.014370,6.985584,7.022710,6.992585,2
4,12.274146,7.766351,7.876517,12.375437,8.033694,13.414705,8.058516,12.672041,8.090857,12.857619,...,12.370659,7.903240,13.006051,15.783148,7.806463,13.036293,7.807147,7.852133,8.128719,2

In [87]:
Behcet.to_csv("Behcet's Disease/Feature.csv", index=False)

In [137]:
Behcet.shape

(34, 51)

In [138]:
gene = pd.concat([gene, Behcet])

In [141]:
gene['Dignosis'].value_counts()

0    120
1     48
2     34
Name: Dignosis, dtype: int64

# Bullous pemphigoid

In [327]:
df = pd.read_csv("Bullous pemphigoid/Transform_Data.csv")

In [149]:
print(df.isna().sum().sum())
print(df.duplicated().sum())

69401
0

In [328]:
df.dropna(inplace=True, axis = 1)

In [329]:
df.isna().sum().sum()

0

In [331]:
df.shape

(8, 12147)

In [154]:
df['Dignosis'] = 3
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [156]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(8, 50)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

In [158]:
Bullous = pd.DataFrame(X_selected)
Bullous['Dignosis'] = 3
Bullous.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,0.268815,-5.150639,-0.822490,-0.422174,0.102764,0.402252,-0.532527,-0.245709,0.772642,0.393290,...,-1.366497,0.687292,-1.114966,1.714886,-0.647045,-1.957650,-1.664362,-1.402977,-0.787901,3
1,0.176345,-3.916075,-0.588298,-0.325092,-0.001995,0.222125,-0.567736,-0.015062,0.731633,0.423135,...,-1.314926,0.557456,-1.578858,1.661312,-0.716169,-1.671832,-1.655552,-1.412440,-0.629288,3
2,0.464979,-3.612069,-0.602820,-0.611960,-0.103966,0.252873,-0.550639,-0.159931,0.714793,0.368425,...,-1.379665,0.580309,-1.539484,1.634884,-0.628844,-1.535710,-1.905652,-1.412296,-0.695274,3
3,0.405884,-5.019823,-0.578362,-0.052626,0.091912,0.410069,-0.493370,-0.050721,0.742319,0.400705,...,-1.418699,0.598500,-1.314452,1.669586,-0.614974,-1.818853,-1.373648,-1.149810,-0.618478,3
4,0.551462,-3.788970,-0.695522,-0.104941,0.177070,0.455956,-0.401550,-0.169475,0.724474,0.499303,...,-1.409337,0.585067,-0.916879,1.654481,-0.654106,-1.895791,-1.441999,-1.234636,-0.705581,3

In [159]:
Bullous.to_csv("Bullous pemphigoid/Feature.csv", index=False)

In [161]:
gene = pd.concat([gene, Bullous])
gene['Dignosis'].value_counts()

0    120
2     68
1     48
3      8
Name: Dignosis, dtype: int64

# Dermatomyositis

In [229]:
df = pd.read_csv("Dermatomyositis/Transform_Data.csv")

In [230]:
print(df.isna().sum().sum())
print(df.duplicated().sum())

0
0

In [231]:
df['Dignosis'] = 4
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [232]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

(48, 50)

In [167]:
Dermatomyositis = pd.DataFrame(X_selected)
Dermatomyositis['Dignosis'] = 4
Dermatomyositis.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,2.985876,3.164385,3.279410,3.056744,3.259320,0.680375,1.065840,1.005751,3.412412,3.352913,...,2.299989,3.613858,2.464573,3.631449,2.594027,3.686486,2.629273,3.692215,2.651095,4
1,2.961029,3.193531,3.283446,3.027110,3.242500,0.724334,1.018400,1.062634,3.460106,3.428627,...,2.106555,3.622858,2.428874,3.629654,2.603183,3.700848,2.636282,3.693406,2.621529,4
2,3.443948,3.510498,3.559061,3.470995,3.540407,1.288540,1.149986,1.312507,3.624772,3.585450,...,2.429914,3.633332,2.613499,3.647161,2.641259,3.716410,2.755177,3.713684,2.755624,4
3,2.988988,3.225729,3.225412,2.900056,3.157956,1.216728,0.874600,0.859960,3.442082,3.404820,...,2.295575,3.596104,2.420730,3.612724,2.570430,3.690386,2.517794,3.692625,2.548830,4
4,2.949506,3.187913,3.281669,2.953145,3.196305,1.077148,0.966854,0.832569,3.431790,3.408298,...,2.311507,3.583764,2.380861,3.577576,2.553426,3.685351,2.508236,3.677637,2.624821,4

In [168]:
Dermatomyositis.to_csv("Dermatomyositis/Feature.csv", index=False)

In [169]:
gene = pd.concat([gene, Dermatomyositis])
gene['Dignosis'].value_counts()

0    120
2     68
1     48
4     48
3      8
Name: Dignosis, dtype: int64

# Epidermolysis bullosa

In [234]:
df = pd.read_csv("Epidermolysis bullosa/Transform_Data.csv")

In [235]:
print(df.isna().sum().sum())
print(df.duplicated().sum())

1
0

In [236]:
df.dropna(inplace =True)

In [237]:
df.isna().sum().sum()

0

In [238]:
df['Dignosis'] = 5
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [240]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(19, 50)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

In [228]:
Epidermolysis = pd.DataFrame(X_selected)
Epidermolysis['Dignosis'] = 5
Epidermolysis.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,2.945971,1.165078,1.478661,1.159845,1.370141,2.845464,1.649881,0.748681,1.495599,1.509091,...,1.210510,3.322899,1.849812,3.061726,2.761921,2.344202,1.909906,1.387971,2.728074,5
1,2.898439,1.200745,0.783940,0.588336,1.222728,2.811511,1.536406,1.112126,0.793771,1.166583,...,1.159035,3.262236,1.700029,3.031893,2.860178,2.385369,1.677647,1.772956,2.667134,5
2,2.861008,1.001162,1.273298,0.846349,0.864304,2.810302,1.534593,0.938240,0.679497,1.242072,...,1.557110,3.332282,1.475157,3.103089,2.728447,2.471006,1.102204,1.543364,2.730090,5
3,2.945491,0.570459,1.234228,0.645431,0.992941,2.838618,1.257668,1.435682,0.941797,1.220084,...,1.353551,3.297754,1.182572,2.984941,2.697163,2.447272,1.540355,1.464414,2.756697,5
4,2.814308,1.250365,1.936555,1.383072,0.759389,2.702357,1.200411,1.373948,0.677286,0.941145,...,1.429832,3.268335,1.626061,3.036119,2.744185,2.431964,1.721758,1.591028,2.747032,5

In [193]:
Epidermolysis.to_csv("Epidermolysis bullosa/Feature.csv", index=False)

In [248]:
gene = pd.concat([gene, Epidermolysis])
gene['Dignosis'].value_counts()

0    120
2     68
5     57
1     48
4     48
3      8
Name: Dignosis, dtype: int64

# IGA Dermatosis

In [249]:
df = pd.read_csv("IGA Dermatosis/Transform_Data.csv")

C:\Users\laptop\AppData\Local\Temp/ipykernel_4624/2142763934.py:1: DtypeWarning: Columns (0,13,18,19,20,23,33,35,38,41,46,52,55,61,64,66,72,73,76,80,84,91,95,100,104,114,120,123,127,129,130,131,135,145,152,159,163,166,168,173,175,179,184,185,192,197,199,200,203,208,211,213,215,218,221,223,225,227,229,232,234,241,242,247,249,263,271,272,276,281,284,288,291,293,300,303,304,306,309,319,331,332,334,338,347,351,353,357,358,362,364,367,370,375,376,378,382,385,386,392,395,405,406,408,425,427,432,441,452,453,454,456,457,463,466,474,476,477,480,486,489,490,492,495,500,505,508,511,516,518,524,525,527,528,531,537,549,559,561,564,567,571,574,586,588,591,594,595,602,606,607,610,616,619,621,622,627,634,635,646,647,648,654,656,657,659,666,670,678,679,680,682,686,688,695,696,699,700,707,709,714,717,719,721,722,725,733,737,742,755,759,763,768,771,776,782,784,786,788,791,798,803,806,810,811,812,816,817,819,823,825,827,830,832,837,838,840,841,856,860,861,867,868,869,874,875,885,886,889,895,896,899,901,904,908,910,912,918,926,927,929,936,938,939,944,951,956,958,959,960,961,970,972,976,977,980,982,983,998,1001,1010,1011,1013,1014,1016,1020,1023,1037,1043,1053,1056,1060,1064,1074,1075,1076,1077,1078,1079,1084,1086,1091,1092,1093,1101,1102,1104,1109,1111,1114,1116,1117,1127,1128,1130,1133,1145,1161,1167,1169,1170,1172,1177,1185,1186,1187,1189,1200,1207,1211,1214,1219,1221,1222,1226,1231,1240,1246,1261,1262,1267,1268,1272,1277,1281,1283,1287,1295,1300,1305,1310,1313,1315,1319,1327,1328,1329,1331,1342,1356,1361,1364,1367,1370,1378,1379,1383,1386,1401,1404,1410,1411,1419,1420,1424,1425,1434,1435,1438,1439,1441,1454,1455,1461,1468,1473,1474,1476,1477,1487,1488,1494,1497,1498,1499,1500,1501,1503,1504,1505,1511,1516,1520,1523,1526,1529,1534,1538,1541,1544,1546,1550,1555,1558,1571,1572,1577,1579,1581,1585,1590,1591,1595,1600,1601,1603,1605,1609,1617,1619,1620,1628,1629,1631,1633,1638,1641,1644,1645,1646,1648,1654,1658,1660,1669,1671,1672,1679,1692,1700,1704,1708,1709,1714,1721,1730,1737,1740,1741,1742,1747,1754,1756,1758,1762,1764,1765,1768,1769,1776,1780,1784,1785,1786,1788,1792,1795,1796,1797,1803,1804,1805,1806,1811,1814,1817,1818,1823,1829,1841,1852,1855,1857,1858,1861,1865,1867,1875,1876,1878,1880,1882,1886,1889,1891,1893,1896,1897,1903,1906,1909,1912,1917,1918,1924,1926,1928,1930,1941,1948,1951,1955,1956,1969,1972,1982,1986,1994,1998,2002,2004,2006,2015,2019,2027,2033,2034,2035,2038,2041,2042,2043,2044,2047,2050,2052,2061,2066,2073,2076,2089,2091,2101,2106,2109,2110,2113,2117,2118,2119,2122,2124,2125,2127,2128,2129,2130,2131,2137,2141,2145,2150,2152,2158,2161,2165,2169,2171,2175,2176,2178,2181,2182,2183,2184,2189,2193,2197,2202,2205,2210,2213,2216,2218,2219,2221,2222,2224,2229,2235,2238,2248,2250,2251,2255,2256,2257,2261,2265,2277,2283,2286,2288,2296,2297,2298,2303,2304,2308,2309,2311,2321,2329,2331,2333,2340,2351,2354,2355,2362,2363,2370,2378,2379,2391,2400,2401,2402,2403,2407,2410,2411,2413,2415,2427,2432,2435,2436,2437,2438,2442,2443,2447,2449,2453,2461,2469,2474,2482,2491,2494,2495,2496,2499,2503,2505,2506,2508,2517,2521,2523,2525,2526,2530,2533,2534,2535,2537,2538,2542,2548,2549,2555,2556,2558,2559,2562,2571,2572,2599,2603,2610,2612,2613,2615,2617,2618,2624,2629,2634,2635,2645,2646,2650,2651,2655,2660,2661,2664,2668,2669,2673,2676,2678,2681,2682,2683,2684,2685,2687,2691,2693,2701,2707,2716,2719,2721,2724,2730,2737,2738,2746,2749,2753,2755,2756,2759,2760,2762,2766,2767,2779,2785,2786,2794,2796,2799,2804,2809,2811,2815,2818,2827,2829,2833,2840,2845,2847,2848,2858,2859,2862,2864,2876,2880,2881,2883,2889,2898,2899,2902,2904,2905,2910,2913,2923,2926,2927,2935,2940,2954,2955,2958,2962,2964,2970,2980,2985,2988,2990,3000,3013,3015,3016,3018,3024,3027,3032,3034,3035,3037,3041,3042,3046,3047,3049,3053,3059,3061,3064,3066,3067,3075,3076,3079,3083,3087,3091,3094,3098,3100,3111,3114,3120,3121,3122,3126,3127,3128,3129,3134,3144,3146,3147,3149,3153,3158,3163,3164,3165,3169,3173,3175,3183,3188,3195,3202,3206,3207,3209,3222,3227,3232,3233,3239,3240,3241,3242,3243,3245,3255,3256,3258,3269,3274,3278,3283,3284,3292,3294,3298,3300,3306,3307,3310,3313,3321,3327,3334,3338,3339,3341,3354,3359,3367,3369,3374,3375,3378,3382,3387,3397,3399,3401,3411,3414,3423,3426,3427,3428,3431,3433,3436,3446,3448,3449,3450,3466,3482,3485,3488,3489,3493,3496,3499,3500,3509,3514,3517,3526,3528,3529,3533,3538,3542,3543,3545,3549,3552,3559,3566,3567,3569,3572,3577,3580,3586,3587,3588,3591,3596,3597,3603,3605,3609,3613,3614,3616,3624,3630,3631,3647,3648,3658,3660,3662,3663,3664,3667,3672,3681,3688,3689,3690,3693,3702,3703,3707,3713,3719,3721,3725,3729,3738,3745,3747,3748,3749,3751,3753,3756,3763,3764,3771,3772,3778,3787,3789,3791,3802,3805,3809,3820,3827,3831,3836,3838,3854,3856,3858,3859,3861,3862,3863,3864,3866,3873,3877,3881,3882,3883,3886,3904,3909,3916,3923,3924,3931,3937,3944,3949,3952,3960,3968,3976,3984,3986,3990,3992,3999,4001,4006,4015,4019,4020,4029,4030,4035,4043,4044,4045,4047,4051,4054,4060,4069,4071,4073,4075,4077,4083,4085,4088,4097,4098,4102,4107,4108,4113,4116,4124,4126,4129,4136,4137,4138,4141,4145,4148,4150,4151,4152,4154,4155,4156,4163,4164,4167,4168,4177,4188,4203,4205,4206,4207,4208,4209,4211,4214,4217,4219,4221,4222,4224,4226,4243,4245,4251,4253,4254,4258,4263,4265,4269,4270,4271,4274,4277,4286,4289,4290,4296,4299,4300,4310,4315,4319,4325,4326,4330,4335,4337,4338,4340,4341,4344,4351,4352,4359) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("IGA Dermatosis/Transform_Data.csv")

In [250]:
print(df.isna().sum().sum())
print(df.duplicated().sum())

709855
0

In [253]:
df.dropna(axis=1, inplace =True)

In [261]:
df.isna().sum().sum()

1

In [260]:
df.replace('#NAME?',np.nan, inplace = True)

In [262]:
df.dropna(inplace = True)

In [263]:
df['Dignosis'] = 6
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [264]:
df.head()

,centroid_1000199,centroid_1002403,centroid_100337,centroid_1004450,centroid_1009647,centroid_101061,centroid_101144_s2,centroid_101298,centroid_101575,centroid_101899,...,ETEC_3776,ETEC_3776_S1,ETEC_4508_S1,ETEC_4742,ETEC_p948_0360,WS_1858B_04875,WS_1858B_fliC_191-483,WS_3504D_04982,WS_3504D_05023,Dignosis
0,-0.115418,-0.785949,0.379417,-1.286144,-0.083105,-0.115418,0.042160,0.062469,-0.307436,0.021348,...,-1.340300,0.759038,0.035279,0.174871,-0.721557,-0.632043,-0.603900,-0.675805,-0.051946,6
1,0.342361,-0.196726,0.756012,-0.399051,-0.075704,0.300545,0.425803,0.640084,0.209542,0.455580,...,-0.866072,0.951535,0.407348,0.193308,-0.171165,-0.146316,-0.431903,-0.537809,0.328672,6
2,-0.228722,-0.695308,0.399504,-1.808431,-0.172445,-0.154445,-0.007157,0.092119,-0.248288,-0.022339,...,-0.829791,0.740303,-0.069564,-0.007157,-0.866342,-0.509104,-0.634207,-0.496142,0.078636,6
3,-0.112457,-0.628286,0.365758,-0.695937,-1.275962,-0.500196,-0.689596,-0.133281,-0.434623,-0.610604,...,-1.212080,0.668870,-0.261455,0.312261,-0.598988,-0.489812,-1.343703,-1.810278,-0.088769,6
4,0.586698,0.018303,1.085691,-0.805421,0.166577,0.532730,0.636838,0.843652,0.577983,0.624636,...,-0.076947,1.234075,0.612216,0.421963,0.203416,0.252300,-1.224975,-0.540207,0.768451,6

In [265]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(249, 50)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

In [266]:
IGA = pd.DataFrame(X_selected)
IGA['Dignosis'] = 6
IGA.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,-0.238799,-0.238799,-1.23448,0.423076,-0.021871,0.439851,0.2312,-0.00722,-0.021871,-0.238799,...,-1.3403,0.759038,0.035279,0.174871,-0.721557,-0.632043,-0.6039,-0.675805,-0.051946,6
1,-1.064166,0.193308,-0.537809,0.732789,0.010318,0.778451,0.607761,0.256354,0.159824,0.106866,...,-0.866072,0.951535,0.407348,0.193308,-0.171165,-0.146316,-0.431903,-0.537809,0.328672,6
2,-0.20957,-0.248288,-1.116933,0.381145,-0.54906,0.460435,0.271458,-0.037795,-0.352914,-0.136801,...,-0.829791,0.740303,-0.069564,-0.007157,-0.866342,-0.509104,-0.634207,-0.496142,0.078636,6
3,-1.122669,-0.202645,-0.734845,0.369576,-0.610604,0.199952,0.209359,0.272268,-0.112457,0.241437,...,-1.21208,0.66887,-0.261455,0.312261,-0.598988,-0.489812,-1.343703,-1.810278,-0.088769,6
4,0.188881,0.44338,-0.331722,1.044409,0.06221,1.040117,0.986067,0.644855,0.44338,0.44338,...,-0.076947,1.234075,0.612216,0.421963,0.203416,0.2523,-1.224975,-0.540207,0.768451,6

In [269]:
IGA.to_csv("IGA Dermatosis/Feature.csv", index=False)

In [270]:
gene = pd.concat([gene, IGA])
gene['Dignosis'].value_counts()

6    249
0    120
2     68
5     57
1     48
4     48
3      8
Name: Dignosis, dtype: int64

# Lichen Planus

In [271]:
df = pd.read_csv("Lichen Planus/Transform_Data.csv")

In [272]:
print(df.isna().sum().sum())
print(df.duplicated().sum())

76
0

In [274]:
df.dropna(axis = 1, inplace = True)

In [275]:
df.isna().sum().sum()

0

In [276]:
df['Dignosis'] = 7
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [277]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(18, 50)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

In [279]:
Lichen = pd.DataFrame(X_selected)
Lichen['Dignosis'] = 7
Lichen.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,1.849041,2.415472,2.216403,2.398253,1.873243,3.141241,3.148912,1.863985,1.837309,3.034529,...,1.773822,2.250881,2.240357,2.481352,2.494251,3.131984,2.558654,2.172136,2.443114,7
1,1.921477,2.406971,2.159406,2.437133,1.964118,3.019384,3.118415,2.121765,1.864721,3.018216,...,1.679838,2.345660,2.259800,2.150632,2.500826,3.079363,2.357730,2.356330,2.461181,7
2,1.932012,2.405342,1.791414,2.397434,2.369868,3.119064,3.213659,2.188999,1.964169,2.976593,...,1.860769,2.404544,2.344847,2.409937,2.445184,3.134162,2.464962,2.245405,2.463536,7
3,1.354375,2.255595,2.078081,2.312160,1.699219,3.139570,3.158159,1.787771,1.858148,2.981303,...,1.928047,2.559537,2.429547,2.416927,2.450386,3.146453,2.604401,2.067047,2.580212,7
4,1.693087,2.471533,2.149092,2.348398,2.026915,3.128719,3.268064,2.309183,1.660909,2.947394,...,1.966224,2.338702,2.457090,2.253398,2.324712,3.147700,2.566241,2.231701,2.384123,7

In [280]:
Lichen.to_csv("Lichen Planus/Feature.csv", index=False)

In [281]:
gene = pd.concat([gene, Lichen])
gene['Dignosis'].value_counts()

6    249
0    120
2     68
5     57
1     48
4     48
7     18
3      8
Name: Dignosis, dtype: int64

# Lupus of the skin

In [282]:
df = pd.read_csv("Lupus of the skin/Transform_Data.csv")

In [283]:
print(df.isna().sum().sum())
print(df.duplicated().sum())

102
0

In [285]:
df.dropna(axis = 1 , inplace = True)

In [286]:
df.isna().sum().sum()

0

In [287]:
df['Dignosis'] = 8
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [288]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(16, 50)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

In [290]:
Lupus = pd.DataFrame(X_selected)
Lupus['Dignosis'] = 8
Lupus.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,16.538416,16.445257,16.543545,16.233788,16.488248,13.929166,14.309441,14.352009,13.875173,13.566470,...,9.113742,9.854089,9.974415,13.099348,13.030150,13.193063,15.056744,14.309157,8.684749,8
1,11.830911,11.339850,11.383164,16.244773,12.289587,13.043540,12.518776,12.506803,13.357964,15.202908,...,9.847840,9.737247,10.057992,16.526492,16.456916,16.267399,15.077629,16.907043,9.338736,8
2,16.077546,16.107769,16.340093,16.199011,16.473381,15.443526,15.574165,15.480348,15.350698,14.653629,...,10.473198,10.429407,10.388017,14.513666,14.741046,14.268542,14.989860,15.401530,9.014020,8
3,9.604553,9.339850,9.605480,16.134797,9.888743,7.714246,7.499846,9.447083,8.912889,7.727920,...,9.785452,9.938109,10.258566,8.430453,8.562242,8.596190,14.917838,8.417853,7.758223,8
4,10.511753,10.087463,10.014718,16.524083,9.764042,8.285402,8.312883,8.204571,8.636625,8.312883,...,9.079485,9.036174,9.946906,8.511753,8.287712,8.876517,15.036367,8.758223,8.829723,8

In [291]:
Lupus.to_csv("Lupus of the skin/Feature.csv", index=False)

In [292]:
gene = pd.concat([gene, Lupus])
gene['Dignosis'].value_counts()

6    249
0    120
2     68
5     57
1     48
4     48
7     18
8     16
3      8
Name: Dignosis, dtype: int64

# Ocular Cicatrical pemphigoid

In [303]:
df = pd.read_csv("Ocular Cicatrical pemphigoid/Transform_Data.csv")

In [304]:
print(df.isna().sum().sum())
print(df.duplicated().sum())

0
0

In [305]:
df['Dignosis'] = 9
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [306]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

(24, 50)

In [307]:
Ocular = pd.DataFrame(X_selected)
Ocular['Dignosis'] = 9
Ocular.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,5.779505,6.124448,5.920818,5.579267,5.725107,5.798849,5.686045,6.073665,5.363891,6.007340,...,5.936345,6.092714,5.585570,6.303434,5.906346,5.856388,5.978125,5.967069,5.816738,9
1,5.600778,6.003211,5.772516,5.609415,5.892571,5.737825,6.042828,6.050747,5.735662,5.797570,...,6.021635,5.966813,5.634284,5.982539,5.811765,5.741199,6.183165,5.857738,5.911690,9
2,5.801297,5.947003,5.918725,5.793240,5.857230,5.810800,5.828319,5.990882,5.610350,5.902795,...,5.780057,6.088018,5.981459,6.050053,5.698496,6.003082,6.245106,5.896661,5.906946,9
3,5.921213,6.096311,6.002665,5.692042,5.838357,5.882085,5.717328,6.243756,5.850550,5.740206,...,6.091238,5.833069,5.875302,6.184245,5.906044,5.904143,5.990617,5.811639,6.083051,9
4,5.935212,5.764976,6.031001,5.783292,6.019079,5.854730,5.617859,5.934718,5.639482,5.867173,...,6.304740,6.185994,5.853999,6.503668,5.897966,5.857151,6.135266,5.753599,5.991595,9

In [308]:
Ocular.to_csv("Ocular Cicatrical pemphigoid/Feature.csv", index=False)

In [309]:
gene = pd.concat([gene, Ocular])
gene['Dignosis'].value_counts()

6    249
0    120
2     68
5     57
1     48
4     48
9     24
7     18
8     16
3      8
Name: Dignosis, dtype: int64

# vitiligo

In [310]:
df = pd.read_csv("vitiligo/Transform_Data.csv")

In [311]:
print(df.isna().sum().sum())
print(df.duplicated().sum())

0
0

In [313]:
df['Dignosis'] = 10
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [317]:
# define feature selection
fs = SelectKBest(score_func=f_classif, k=key)
# apply feature selection
X_selected = fs.fit_transform(X, y)
print(X_selected.shape)

(8, 50)

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\feature_selection\_univariate_selection.py:110: RuntimeWarning: invalid value encountered in true_divide
  msb = ssbn / float(dfbn)

In [318]:
vitiligo = pd.DataFrame(X_selected)
vitiligo['Dignosis'] = 10
vitiligo.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Dignosis
0,3.080496,2.699829,2.762493,3.030042,2.908232,2.783767,2.603979,2.628297,2.628297,2.918016,...,2.718707,2.573881,2.636924,2.613567,2.578540,3.018938,2.632847,2.664040,3.156186,10
1,3.053410,2.670273,2.842796,3.092897,2.936981,2.931405,2.728937,2.673335,2.651962,3.091143,...,3.007003,2.681130,2.808336,2.655350,2.651962,3.069999,2.658697,2.725773,3.141969,10
2,3.131611,2.722569,2.811341,3.164199,2.940942,2.868363,2.688703,2.651431,2.645558,3.100760,...,2.940942,2.683128,2.812688,2.651431,2.672845,2.993315,2.662660,2.721054,3.204225,10
3,3.079195,2.681130,2.823215,3.114042,2.913594,2.924851,2.717170,2.667175,2.620584,3.086903,...,3.022133,2.695389,2.809058,2.664040,2.646913,3.051435,2.670520,2.736215,3.148329,10
4,3.147705,2.728937,2.852847,3.244738,2.981070,2.927757,2.711233,2.644195,2.574936,3.043056,...,2.903521,2.690415,2.839018,2.664040,2.637764,3.123545,2.687444,2.772738,3.248045,10

In [319]:
vitiligo.to_csv("vitiligo/Feature.csv", index=False)

In [320]:
gene = pd.concat([gene, vitiligo])
gene['Dignosis'].value_counts()

6     249
0     120
2      68
5      57
1      48
4      48
9      24
7      18
8      16
3       8
10      8
Name: Dignosis, dtype: int64

In [349]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from matplotlib import pyplot as plt
from sklearn import tree
from sklearn.metrics import confusion_matrix

In [372]:
X = gene.iloc[:,:-1]
y = gene.iloc[:,-1:]

In [510]:
X_train , X_test ,y_train , y_test = train_test_split(
                                            X,y 
                                            ,test_size=0.60
                                            ,random_state=42,
                                             stratify=y)

In [511]:
tree_clf = DecisionTreeClassifier(max_depth=6)
tree_clf.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=6)

In [512]:
y_pred = tree_clf.predict(X_test)

In [513]:
accuracy_score(y_pred , y_test)

0.949874686716792

In [514]:
print (classification_report(y_pred, y_test, digits=5))

              precision    recall  f1-score   support

           0    0.95833   0.98571   0.97183        70
           1    1.00000   1.00000   1.00000        29
           2    1.00000   1.00000   1.00000        41
           3    1.00000   1.00000   1.00000         5
           4    1.00000   0.90625   0.95082        32
           5    1.00000   0.97143   0.98551        35
           6    1.00000   1.00000   1.00000       150
           7    0.00000   0.00000   0.00000         0
           8    0.88889   1.00000   0.94118         8
           9    1.00000   0.48276   0.65116        29
          10    0.00000   0.00000   0.00000         0

    accuracy                        0.94987       399
   macro avg    0.80429   0.75874   0.77277       399
weighted avg    0.99046   0.94987   0.96331       399

C:\Users\laptop\AppData\Roaming\Python\Python38\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [515]:
from sklearn.ensemble import RandomForestClassifier

In [516]:
rnd_clf = RandomForestClassifier(n_estimators=1000,
                                 max_depth= 6,
                                 random_state=42,
                                )

In [517]:
rnd_clf .fit(X_train , y_train)

C:\Users\laptop\AppData\Local\Temp/ipykernel_4624/4190684491.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rnd_clf .fit(X_train , y_train)

RandomForestClassifier(max_depth=6, n_estimators=1000, random_state=42)

In [518]:
y_pred_rnd1 = rnd_clf.predict(X_test)

In [519]:
accuracy_score (y_pred_rnd1, y_test)

1.0

In [520]:
print (classification_report(y_pred_rnd1, y_test, digits=5))

              precision    recall  f1-score   support

           0    1.00000   1.00000   1.00000        72
           1    1.00000   1.00000   1.00000        29
           2    1.00000   1.00000   1.00000        41
           3    1.00000   1.00000   1.00000         5
           4    1.00000   1.00000   1.00000        29
           5    1.00000   1.00000   1.00000        34
           6    1.00000   1.00000   1.00000       150
           7    1.00000   1.00000   1.00000        11
           8    1.00000   1.00000   1.00000         9
           9    1.00000   1.00000   1.00000        14
          10    1.00000   1.00000   1.00000         5

    accuracy                        1.00000       399
   macro avg    1.00000   1.00000   1.00000       399
weighted avg    1.00000   1.00000   1.00000       399

In [ ]:
import pickle
filename = 'Breast_caner_model.sav'
pickle.dump(model, open(filename, 'wb'))