In [1]:
import pandas as pd

In [2]:
input_path = 'Data.csv'
output_path = 'Transform_Data.csv'

In [3]:
df = pd.read_csv('Data.csv')

In [4]:
df.head()

,Unnamed: 0,GSM3618686,GSM3618687,GSM3618688,GSM3618689,GSM3618690,GSM3618691,GSM3618692,GSM3618693
0,100009600_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100009609_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100009614_at,NaN,-6.087165,-6.449954,NaN,-6.909306,NaN,NaN,-5.433377
3,100012_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100017_at,0.041562,-0.001604,-0.008085,0.044547,0.073601,-0.012728,-0.083418,0.088357

In [5]:
df = df.T

In [6]:
b=df.iloc[0:1,0:]

In [7]:
col = b.iloc[0]

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,...,22125,22126,22127,22128,22129,22130,22131,22132,22133,22134
Unnamed: 0,100009600_at,100009609_at,100009614_at,100012_at,100017_at,100019_at,100033459_at,100034251_at,100034748_at,100036520_at,...,99709_at,99712_at,99730_at,99738_at,99887_at,99889_at,99890_at,99899_at,99929_at,99982_at
GSM3618686,NaN,NaN,NaN,NaN,0.041562,-2.348053,NaN,1.167726,NaN,NaN,...,NaN,0.687292,-1.114966,NaN,1.714886,-0.647045,-1.95765,-1.664362,-1.402977,-0.787901
GSM3618687,NaN,NaN,-6.087165,NaN,-0.001604,-2.092304,NaN,1.155365,NaN,NaN,...,NaN,0.557456,-1.578858,NaN,1.661312,-0.716169,-1.671832,-1.655552,-1.41244,-0.629288
GSM3618688,NaN,NaN,-6.449954,NaN,-0.008085,-2.393364,NaN,1.061828,NaN,NaN,...,NaN,0.580309,-1.539484,NaN,1.634884,-0.628844,-1.53571,-1.905652,-1.412296,-0.695274
GSM3618689,NaN,NaN,NaN,NaN,0.044547,-2.285464,NaN,1.266177,NaN,NaN,...,NaN,0.5985,-1.314452,NaN,1.669586,-0.614974,-1.818853,-1.373648,-1.14981,-0.618478
GSM3618690,NaN,NaN,-6.909306,NaN,0.073601,-2.292088,NaN,1.178786,NaN,NaN,...,NaN,0.585067,-0.916879,-6.249459,1.654481,-0.654106,-1.895791,-1.441999,-1.234636,-0.705581
GSM3618691,NaN,NaN,NaN,NaN,-0.012728,-2.069649,NaN,1.27839,NaN,NaN,...,NaN,0.609891,-1.205316,-7.331628,1.633107,-0.620282,-2.130866,-1.099181,-1.092436,-0.627798
GSM3618692,NaN,NaN,NaN,NaN,-0.083418,-1.941198,NaN,1.052003,NaN,NaN,...,NaN,0.598548,-1.284386,-6.021766,1.652291,-0.774317,-2.276518,-1.461597,-1.470463,-0.644347
GSM3618693,NaN,NaN,-5.433377,NaN,0.088357,-2.824836,NaN,1.053055,NaN,NaN,...,NaN,0.616999,-1.339325,NaN,1.649239,-0.585026,-2.205719,-2.462938,-1.275316,-0.563297

In [9]:
df1 = pd.DataFrame(df)
df1.columns = col
df1.head()

Unnamed: 0,100009600_at,100009609_at,100009614_at,100012_at,100017_at,100019_at,100033459_at,100034251_at,100034748_at,100036520_at,...,99709_at,99712_at,99730_at,99738_at,99887_at,99889_at,99890_at,99899_at,99929_at,99982_at
Unnamed: 0,100009600_at,100009609_at,100009614_at,100012_at,100017_at,100019_at,100033459_at,100034251_at,100034748_at,100036520_at,...,99709_at,99712_at,99730_at,99738_at,99887_at,99889_at,99890_at,99899_at,99929_at,99982_at
GSM3618686,NaN,NaN,NaN,NaN,0.041562,-2.348053,NaN,1.167726,NaN,NaN,...,NaN,0.687292,-1.114966,NaN,1.714886,-0.647045,-1.95765,-1.664362,-1.402977,-0.787901
GSM3618687,NaN,NaN,-6.087165,NaN,-0.001604,-2.092304,NaN,1.155365,NaN,NaN,...,NaN,0.557456,-1.578858,NaN,1.661312,-0.716169,-1.671832,-1.655552,-1.41244,-0.629288
GSM3618688,NaN,NaN,-6.449954,NaN,-0.008085,-2.393364,NaN,1.061828,NaN,NaN,...,NaN,0.580309,-1.539484,NaN,1.634884,-0.628844,-1.53571,-1.905652,-1.412296,-0.695274
GSM3618689,NaN,NaN,NaN,NaN,0.044547,-2.285464,NaN,1.266177,NaN,NaN,...,NaN,0.5985,-1.314452,NaN,1.669586,-0.614974,-1.818853,-1.373648,-1.14981,-0.618478

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, Unnamed: 0 to GSM3618693
Columns: 22135 entries, 100009600_at to 99982_at
dtypes: object(22135)
memory usage: 1.5+ MB

In [11]:
dataFrame = df1.drop('Unnamed: 0')

In [13]:
dataFrame['Dignosis'] ='Bullous pemphigoid'

In [14]:
dataFrame

Unnamed: 0,100009600_at,100009609_at,100009614_at,100012_at,100017_at,100019_at,100033459_at,100034251_at,100034748_at,100036520_at,...,99712_at,99730_at,99738_at,99887_at,99889_at,99890_at,99899_at,99929_at,99982_at,Dignosis
GSM3618686,NaN,NaN,NaN,NaN,0.041562,-2.348053,NaN,1.167726,NaN,NaN,...,0.687292,-1.114966,NaN,1.714886,-0.647045,-1.95765,-1.664362,-1.402977,-0.787901,Bullous pemphigoid
GSM3618687,NaN,NaN,-6.087165,NaN,-0.001604,-2.092304,NaN,1.155365,NaN,NaN,...,0.557456,-1.578858,NaN,1.661312,-0.716169,-1.671832,-1.655552,-1.41244,-0.629288,Bullous pemphigoid
GSM3618688,NaN,NaN,-6.449954,NaN,-0.008085,-2.393364,NaN,1.061828,NaN,NaN,...,0.580309,-1.539484,NaN,1.634884,-0.628844,-1.53571,-1.905652,-1.412296,-0.695274,Bullous pemphigoid
GSM3618689,NaN,NaN,NaN,NaN,0.044547,-2.285464,NaN,1.266177,NaN,NaN,...,0.5985,-1.314452,NaN,1.669586,-0.614974,-1.818853,-1.373648,-1.14981,-0.618478,Bullous pemphigoid
GSM3618690,NaN,NaN,-6.909306,NaN,0.073601,-2.292088,NaN,1.178786,NaN,NaN,...,0.585067,-0.916879,-6.249459,1.654481,-0.654106,-1.895791,-1.441999,-1.234636,-0.705581,Bullous pemphigoid
GSM3618691,NaN,NaN,NaN,NaN,-0.012728,-2.069649,NaN,1.27839,NaN,NaN,...,0.609891,-1.205316,-7.331628,1.633107,-0.620282,-2.130866,-1.099181,-1.092436,-0.627798,Bullous pemphigoid
GSM3618692,NaN,NaN,NaN,NaN,-0.083418,-1.941198,NaN,1.052003,NaN,NaN,...,0.598548,-1.284386,-6.021766,1.652291,-0.774317,-2.276518,-1.461597,-1.470463,-0.644347,Bullous pemphigoid
GSM3618693,NaN,NaN,-5.433377,NaN,0.088357,-2.824836,NaN,1.053055,NaN,NaN,...,0.616999,-1.339325,NaN,1.649239,-0.585026,-2.205719,-2.462938,-1.275316,-0.563297,Bullous pemphigoid

In [15]:
dataFrame.to_csv(output_path, index=False)